python-telegram-bot>=21.0,<22.0
langchain==0.3.20
langchain-core==0.3.55
langchain-groq==0.3.2
langchain-community==0.3.18
python-dotenv>=1.0.0
Flask>=3.0.0,<4.0.0
httpx>=0.27.0,<0.28.0
pillow>=10.0.0,<11.0.0
google-api-python-client>=2.140.0,<3.0.0
google-auth>=2.30.0,<3.0.0
google-auth-httplib2>=0.2.0,<1.0.0
google-auth-oauthlib>=1.2.0,<2.0.0
